###########################################################################
#                            TextMate Snippets                            #
###########################################################################

priority -50

# .c add head files
snippet chead "add .c files head description" b
/*
 * =============================================================================
 *
 *       Filename:  `!v fnamemodify(bufname("%"),":t") `
 *
 *    Description:  ${1:description}
 *
 *        Version:  ${2:virsion}
 *        Created:  `echo $(date +%Y-%m-%d\ %H:%M:%S)`
 *       Revision:  ${3:none}
 *
 *         Author:  xubin
 *        Company:  Taichuan
 *
 * =============================================================================
 */
/* ---------------------------------------------------------------------------*
 *                      include head files
 *----------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------*
 *                  extern variables declare
 *----------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------*
 *                  internal functions declare
 *----------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------*
 *                        macro define
 *----------------------------------------------------------------------------*/

/* ---------------------------------------------------------------------------*
 *                      variables define
 *----------------------------------------------------------------------------*/
${0}
endsnippet


# vim:ft=snippets:
